*,
*::after,
*::before {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.style-font{
  font-family: "Nunito", sans-serif;
  font-optical-sizing: auto;
  font-weight: 600;
  font-style: normal;
  font-size: 15px;
}

body{
  background-color: #edeef0;
  margin-top: 70px;
}


::selection {
  background: #e1e5eb; /* Цвет фона */;
  color: #337f33; /* Цвет текста */;
}


